In [27]:
from caveclient import CAVEclient
import pandas as pd
import numpy as np 
import os

In [28]:
client = CAVEclient()
dataset = 'fanc_production_mar2021'
client = CAVEclient(dataset)

In [3]:
hps = pd.read_csv('Hair Plates.csv')

In [4]:
hps.shape

(20, 6)

In [5]:
hps.head()

,Nerve Name,Neuromere,Hair plate Segid,Associated Hair Plate,position_pt,Notes
0,ProAN,T1L,6.485180e+17,CoHP4,"[5131, 101769, 3102]",NaN
1,ProAN,T1L,6.485180e+17,CoHP4,"[5213, 101593, 3121]",NaN
2,ProAN,T1L,6.485180e+17,CoHP4,"[5304, 101828, 3152]",NaN
3,ProAN,T1L,6.485180e+17,CoHP4,"[5416, 101453, 3175]",NaN
4,ProLN,T1L,6.485180e+17,TrHP 5-7,"[6870, 103194, 3651]",NaN

In [24]:
# Loading in coordinates from a CSV is of type str so this converts them into a list of integers
pt_ints = []
for i in hps['position_pt'].tolist():
    i = i.split('[')[1]
    i = i.split(']')[0].split(',')
    i = [j for j in i if j != '']
    
    pt_ints.append(list(map(int, i)))
    
hps['position_pt'] = pt_ints

In [29]:
# create annotation table
class_sys = hps['Neuromere'] + '_' + hps['Nerve Name']
cell_type = hps['Associated Hair Plate']
pos_pt = hps['position_pt'].values.tolist()
hp_annotation_table = pd.DataFrame(data={'pt_position':pos_pt, 'classification_system': class_sys, 'cell_type': cell_type})
hp_annotation_table

             pt_position classification_system cell_type
0   [5131, 101769, 3102]             T1L_ProAN     CoHP4
1   [5213, 101593, 3121]             T1L_ProAN     CoHP4
2   [5304, 101828, 3152]             T1L_ProAN     CoHP4
3   [5416, 101453, 3175]             T1L_ProAN     CoHP4
4   [6870, 103194, 3651]             T1L_ProLN  TrHP 5-7
5   [7324, 103052, 3597]             T1L_ProLN  TrHP 5-7
6   [8889, 100653, 3690]             T1L_ProLN  TrHP 5-7
7   [6692, 102941, 3680]             T1L_ProLN  TrHP 5-7
8   [7975, 102190, 3696]             T1L_ProLN  TrHP 5-7
9   [8011, 101788, 3696]             T1L_ProLN  TrHP 5-7
10  [8087, 103705, 3729]             T1L_ProLN  TrHP 5-7
11  [11367, 93032, 2963]             T1L_VProN     CoHP8
12  [11323, 92690, 2963]             T1L_VProN     CoHP8
13  [11486, 92601, 2963]             T1L_VProN     CoHP8
14  [12796, 87084, 2630]             T1L_DProN     CoHP3
15  [13212, 87181, 2630]             T1L_DProN     CoHP3
16  [13063, 86768, 2630]             T1L_DProN     CoHP3
17  [60704, 89796, 3211]             T1R_VProN     CoHP8
18  [60514, 89589, 3211]             T1R_VProN     CoHP8
19  [60283, 89768, 3211]             T1R_VProN     CoHP8

In [12]:
mns_ann_table = mns[['pt_position','classification_system','cell_type']]
mns_ann_table

,pt_position,classification_system,cell_type
0,"[13329, 114635, 1861]",A1_T1L,sternal_posterior_rotator_miller_32
1,"[11729, 116735, 1478]",A1_T1L,sternal_posterior_rotator_miller_32
2,"[11085, 115493, 1681]",A1_T1L,sternal_posterior_rotator_miller_32
3,"[9701, 116883, 1629]",A1_T1L,sternal_posterior_rotator_miller_32
4,"[14058, 115317, 1758]",A2_T1L,unidentified_in_thorax
...,...,...,...
134,"[57339, 88452, 1999]",V2_T1R,extracoxal_trochanter_depressor_in_thorax_2
135,"[49727, 85190, 2264]",V2_T1R,extracoxal_trochanter_depressor_in_thorax_3
136,"[51491, 84167, 1836]",V4_T1R,sternal_anterior_rotator_in_thorax_miller_31
137,"[50618, 85421, 2234]",V4_T1R,sternal_anterior_rotator_in_thorax_miller_31
138,"[54883, 84397, 2319]",V5_T1R,unidentified

In [7]:
hp_annotation_table.cell_type.value_counts()

TrHP 5-7    7
CoHP8       6
CoHP4       4
CoHP3       3
Name: cell_type, dtype: int64

In [29]:
client.materialize.get_tables()

['motor_neuron_table_v6',
 't1_leg_motor_neurons',
 'mn_classifications',
 't1_leg_motor_neuron_classifications',
 'sensory_axon_table',
 'motor_neuron_table',
 'motor_neuron_table_v2',
 'hair_plate_table',
 'motor_neuron_table_v4',
 'synapses_jan2022',
 'nerve_bundle_fibers_v0',
 'bristle_axon_table',
 'downstream_bristle_table_v0',
 'motor_neuron_table_v5',
 'motor_neuron_table_v7',
 'neurotransmitter_hemilineage_table',
 'soma_jan2022',
 'all_leg_motor_neuron_table_v0',
 'haltere_motor_neuron_table_v0',
 'neck_motor_neuron_table_v0',
 'neck_connective_tag_table_v0',
 'wing_premotor_table_v1',
 'neck_connective_tag_table_v1',
 'tibia_flexor_premotor_table',
 'femur_mn_premotor_table_v2']

In [12]:
client.materialize.query_table('neurotransmitter_hemilineage_table')

,id,valid,classification_system,cell_type,pt_supervoxel_id,pt_root_id,pt_position
0,1,t,Cholinergic,1A,72696204940815199,648518346483664815,"[20040, 157696, 1601]"
1,2,t,Cholinergic,1A,74031905544403361,648518346483699887,"[59368, 120200, 1844]"
2,3,t,Cholinergic,1A,74172711618189237,648518346489340249,"[62608, 121320, 1642]"
3,4,t,Cholinergic,1A,72766573685022298,648518346479402176,"[21576, 158192, 1570]"
4,5,t,Cholinergic,1A,74031905611506958,648518346490035409,"[57520, 120032, 1945]"
...,...,...,...,...,...,...,...
307,164,t,Unsure,0B,72976375522769433,648518346476974280,"[27928, 120600, 4081]"
308,114,t,Cholinergic,23B,72694830484360189,648518346500046342,"[18592, 118752, 1511]"
309,100,t,Cholinergic,23B,72624530258178138,648518346491544894,"[17048, 120464, 1060]"
310,103,t,Cholinergic,23B,72624393020815762,648518346492790190,"[17920, 116312, 1540]"
311,115,t,Cholinergic,23B,72694830484304847,648518346497162625,"[19320, 117208, 1500]"

In [9]:
description = 'This table includes point locations for most T1 hair plate neurons. "classification system" indicates the neuromere and nerve the hair plate neuron is associated with. "cell_type" specifies which hair plate the neuron projects from. This table is managed by Brandon Pratt from the Tuthill Lab at UW.' 
client.annotation.create_table(table_name='hair_plate_table',
                               schema_name='cell_type_local',
                              voxel_resolution=[4.3,4.3,45],
                              description = description)

HTTPError: 400 Client Error: BAD REQUEST for url: https://cave.fanc-fly.com/annotation/api/v2/aligned_volume/fanc_v4/table content: b'{\n    "message": "Table hair_plate_table already exists"\n}\n'

In [19]:
hp_annotation_table['pt_position'][0]

'[5131, 101769, 3102]'

In [30]:
client.annotation.post_annotation_df(table_name='hair_plate_table',
                                     df=hp_annotation_table,
                                     position_columns=["pt_position"])

'Inserted 20 annotations'

### Run this the next day after you upload the table

In [30]:
hp_table = client.materialize.query_table('hair_plate_table')

In [31]:
hp_table

,id,valid,classification_system,cell_type,pt_supervoxel_id,pt_root_id,pt_position
0,3,t,T1L_ProAN,CoHP4,72201700391479467,648518346498320945,"[5304, 101828, 3152]"
1,4,t,T1L_ProAN,CoHP4,72201700391510477,648518346486001800,"[5416, 101453, 3175]"
2,5,t,T1L_ProLN,TrHP 5-7,72272138123634795,648518346493028338,"[6870, 103194, 3651]"
3,7,t,T1L_ProLN,TrHP 5-7,72342438148477457,648518346501717065,"[8889, 100653, 3690]"
4,8,t,T1L_ProLN,TrHP 5-7,72272138123708580,648518346479317211,"[6692, 102941, 3680]"
5,9,t,T1L_ProLN,TrHP 5-7,72272069404320141,648518346500488883,"[7975, 102190, 3696]"
6,10,t,T1L_ProLN,TrHP 5-7,72272069404336512,648518346517170213,"[8011, 101788, 3696]"
7,11,t,T1L_ProLN,TrHP 5-7,72272138190601791,648518346500341939,"[8087, 103705, 3729]"
8,12,t,T1L_VProN,CoHP8,72412531678958628,648518346486034056,"[11367, 93032, 2963]"
9,13,t,T1L_VProN,CoHP8,72412531678972212,648518346465846832,"[11323, 92690, 2963]"
10,15,t,T1L_DProN,CoHP3,72482694063537120,648518346511678064,"[12796, 87084, 2630]"
11,16,t,T1L_DProN,CoHP3,72482694063508443,648518346483083940,"[13212, 87181, 2630]"
12,17,t,T1L_DProN,CoHP3,72482694063506176,648518346483962397,"[13063, 86768, 2630]"
13,18,t,T1R_VProN,CoHP8,74101244234369421,648518346484630429,"[60704, 89796, 3211]"
14,19,t,T1R_VProN,CoHP8,74101244234360960,648518346509299587,"[60514, 89589, 3211]"
15,20,t,T1R_VProN,CoHP8,74101244234364508,648518346497094785,"[60283, 89768, 3211]"
16,2,t,T1L_ProAN,CoHP4,72201700391449844,648518346489643225,"[5213, 101593, 3121]"
17,1,t,T1L_ProAN,CoHP4,72201700391417380,648518346496227925,"[5131, 101769, 3102]"
18,6,t,T1L_ProLN,TrHP 5-7,72272138123506846,648518346479415488,"[7324, 103052, 3597]"
19,14,t,T1L_VProN,CoHP8,72412531678942179,648518346518692063,"[11486, 92601, 2963]"
20,21,t,T1L_ProLN,TrHP 5-7,72272069337243107,648518346479794676,"[8165, 100590, 3593]"
21,22,t,T1L_VProN,CoHP8,72482831636754478,648518346486593249,"[12942, 91984, 2917]"
22,23,t,T1R_VProN,CoHP8,74030944277085085,648518346497627126,"[58360, 90455, 3423]"
23,24,t,T1R_VProN,CoHP8,74030944277104758,648518346487395219,"[58238, 90905, 3423]"

In [23]:
# append more hp neurons to annotation table
cell_type_append = ['TrHP 5-7', 'CoHP8', 'CoHP8', 'CoHP8']
classification_append = ['T1L_ProLN', 'T1L_VProN', 'T1R_VProN', 'T1R_VProN']
pos_append = [[8165, 100590, 3593], [12942, 91984, 2917], [58360, 90455, 3423], [58238, 90905, 3423]]
hp_annotation_append = pd.DataFrame(data={'pt_position':pos_append, 'classification_system': classification_append, 'cell_type': cell_type_append})
hp_annotation_append

            pt_position classification_system cell_type
0  [8165, 100590, 3593]             T1L_ProLN  TrHP 5-7
1  [12942, 91984, 2917]             T1L_VProN     CoHP8
2  [58360, 90455, 3423]             T1R_VProN     CoHP8
3  [58238, 90905, 3423]             T1R_VProN     CoHP8

In [24]:
# Add annotation to pre-existing hair-plate table
#staging a table for annotation changes
stage = client.annotation.stage_annotations(table_name='hair_plate_table',
                                    schema_name = 'cell_type_local',
                                    table_resolution=[4.3,4.3,45])

#merged_df is a table with your new annotations in the same format as #the table
stage.add_dataframe(hp_annotation_append)

#this line lets you look at the annotations before uploading them
stage.annotation_list

#and here you push the annotations to the table
client.annotation.upload_staged_annotations(stage)

[21, 22, 23, 24]